accelerate==0.33.0
aiohappyeyeballs==2.3.4
aiohttp==3.10.0
aiosignal==1.3.1
alembic==1.13.2
altair==5.4.1
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.4.0
appdirs==1.4.4
argilla==2.4.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
arxiv==2.1.3
asgiref==3.8.1
asttokens==2.4.1
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.2.0
audiomentations==0.36.1
audioread==3.0.1
auth0-python==4.7.2
av==13.1.0
babel==2.16.0
backoff==2.2.1
bcrypt==4.2.0
beautifulsoup4==4.12.3
bioc==2.1
bitsandbytes==0.44.1
bleach==6.1.0
blinker==1.9.0
blis==0.7.11
bm25s==0.2.3
boto3==1.34.153
botocore==1.34.153
build==1.2.1
Byaldi==0.0.5
cachetools==5.4.0
catalogue==2.0.10
cbor==1.0.0
cbor2==5.6.5
certifi==2024.7.4
cffi==1.17.0
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.3.2
chroma-hnswlib==0.7.6
chromadb==0.5.18
click==8.1.7
cloudpathlib==0.18.1
cohere==5.11.1
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.9.0
colpali_engine==0.3.2
comm==0.2.2
confection==0.1.5
conllu==4.5.3
contourpy==1.2.1
cramjam==2.9.0
crewai==0.80.0
crewai-tools==0.14.0
cryptography==43.0.3
cycler==0.12.1
cymem==2.0.8
dataclasses-json==0.6.7
datasets==2.21.0
debugpy==1.8.5
decorator==5.1.1
deepdiff==8.0.1
defusedxml==0.7.1
Deprecated==1.2.14
deprecation==2.1.0
dill==0.3.8
diskcache==5.6.3
distilabel @ git+https://github.com/argilla-io/distilabel.git@7c8976b6899552c3f6479b22c46cbf565c99a41c
distlib==0.3.9
distro==1.9.0
docker==7.1.0
docker-pycreds==0.4.0
docopt==0.6.2
docstring_parser==0.16
docx2txt==0.8
duckduckgo_search==6.3.0
effdet==0.4.1
embedchain==0.1.125
emoji==2.12.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
eval_type_backport==0.2.0
evaluate==0.4.3
exceptiongroup==1.2.2
executing==2.0.1
faiss-cpu==1.8.0.post1
fastapi==0.112.0
fastavro==1.9.5
fastjsonschema==2.20.0
fastparquet==2024.5.0
fasttext==0.9.3
fasttext-langdetect==1.0.5
feedparser==6.0.11
filelock==3.15.4
filetype==1.2.0
flair==0.14.0
flatbuffers==24.3.25
fonttools==4.53.1
fqdn==1.5.1
frozendict==2.4.6
frozenlist==1.4.1
fsspec==2024.6.1
ftfy==6.3.1
gdown==5.2.0
gitdb==4.0.11
GitPython==3.1.43
gliner==0.2.9
gliner-spacy==0.0.10
glirel==1.0.0
google-api-core==2.19.1
google-auth==2.32.0
google-cloud-aiplatform==1.60.0
google-cloud-bigquery==3.25.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.12.5
google-cloud-storage==2.18.0
google-cloud-vision==3.7.4
google-crc32c==1.5.0
google-resumable-media==2.7.1
googleapis-common-protos==1.63.2
gptcache==0.1.44
GPUtil==1.4.0
gql==3.5.0
graphql-core==3.2.4
greenlet==3.0.3
groq==0.12.0
grpc-google-iam-v1==0.13.1
grpcio==1.65.4
grpcio-status==1.62.2
grpcio-tools==1.62.2
h11==0.14.0
h2==4.1.0
hpack==4.0.0
html5lib==1.1
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
httpx-sse==0.4.0
huggingface-hub==0.26.2
humanfriendly==10.0
hyperframe==6.0.1
identify==2.6.1
idna==3.7
ijson==3.3.0
importlib_metadata==8.0.0
importlib_resources==6.4.0
iniconfig==2.0.0
inscriptis==2.5.0
instructor==1.3.3
intervaltree==3.1.0
iopath==0.1.10
ipykernel==6.29.5
ipython==8.26.0
ipywidgets==8.1.5
ir_datasets==0.5.8
isoduration==20.11.0
jedi==0.19.1
Jinja2==3.1.4
jiter==0.4.2
jmespath==1.0.1
joblib==1.4.2
json5==0.9.25
json_repair==0.25.3
jsonlines==4.0.0
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpickle==4.0.0
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
kiwisolver==1.4.5
kubernetes==30.1.0
lancedb==0.5.7
langchain==0.3.6
langchain-cohere==0.3.1
langchain-community==0.3.4
langchain-core==0.3.15
langchain-experimental==0.3.2
langchain-groq==0.2.1
langchain-huggingface==0.0.3
langchain-ollama==0.2.0
langchain-openai==0.2.5
langchain-qdrant==0.1.3
langchain-text-splitters==0.3.1
langchain-unstructured==0.1.2
langcodes==3.4.0
langdetect==1.0.9
langgraph==0.2.53
langgraph-checkpoint==2.0.5
langgraph-sdk==0.1.36
langsmith==0.1.138
language_data==1.2.0
layoutparser==0.3.4
lazy_loader==0.4
Levenshtein==0.26.0
librosa==0.10.2.post1
litellm==1.52.9
llama_cpp_python==0.3.1
llvmlite==0.43.0
loralib==0.1.2
lxml==5.3.0
lz4==4.3.3
Mako==1.3.5
marisa-trie==1.2.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.3
matplotlib==3.9.1.post1
matplotlib-inline==0.1.7
mdurl==0.1.2
mem0ai==0.1.29
mistune==3.0.2
ml_dtypes==0.5.0
mmh3==4.1.0
monotonic==1.6
more-itertools==10.5.0
mpld3==0.5.10
mpmath==1.3.0
msgpack==1.1.0
mteb==1.6.35
multidict==6.0.5
multiprocess==0.70.16
multitasking==0.0.11
murmurhash==1.0.10
mypy-extensions==1.0.0
narwhals==1.13.5
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
neo4j==5.23.1
nest-asyncio==1.6.0
networkx==3.3
ninja==1.11.1.1
nltk==3.9.1
nodeenv==1.9.1
notebook==7.2.2
notebook_shim==0.2.4
numba==0.60.0
numpy==1.24.3
numpy-rms==0.4.2
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.6.20
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
olefile==0.47
ollama==0.3.1
omegaconf==2.3.0
onnx==1.16.2
onnxruntime==1.18.1
openai==1.54.4
opencv-python==4.10.0.84
opentelemetry-api==1.26.0
opentelemetry-exporter-otlp-proto-common==1.26.0
opentelemetry-exporter-otlp-proto-grpc==1.26.0
opentelemetry-exporter-otlp-proto-http==1.26.0
opentelemetry-instrumentation==0.47b0
opentelemetry-instrumentation-asgi==0.47b0
opentelemetry-instrumentation-fastapi==0.47b0
opentelemetry-proto==1.26.0
opentelemetry-sdk==1.26.0
opentelemetry-semantic-conventions==0.47b0
opentelemetry-util-http==0.47b0
orderly-set==5.2.2
orjson==3.10.6
outcome==1.3.0.post0
overrides==7.7.0
packaging==24.1
pandas==2.2.2
pandocfilters==1.5.1
parameterized==0.9.0
parso==0.8.4
pdf2image==1.17.0
pdfminer.six==20231228
pdfplumber==0.11.4
peewee==3.17.7
peft @ git+https://github.com/huggingface/peft.git@e8259ff7bc72365ec730efb1f4005a95071d5dfd
pexpect==4.9.0
pgvector==0.3.5
phidata==2.5.15
pi_heif==0.18.0
pikepdf==9.2.0
pillow==10.4.0
platformdirs==4.2.2
plotly==5.24.1
pluggy==1.5.0
pooch==1.8.2
portalocker==2.10.1
posthog==3.5.0
pptree==3.1
pre_commit==4.0.1
preshed==3.0.9
primp==0.6.3
prometheus_client==0.21.0
prompt_toolkit==3.0.47
proto-plus==1.24.0
protobuf==4.25.4
psutil==6.0.0
psycopg==3.2.3
psycopg-binary==3.2.3
ptyprocess==0.7.0
pulsar-client==3.5.0
pure_eval==0.2.3
py==1.11.0
pyarrow==17.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pybind11==2.13.6
pycocotools==2.0.8
pycparser==2.22
pydantic==2.8.2
pydantic-settings==2.6.0
pydantic_core==2.20.1
pydeck==0.9.1
Pygments==2.18.0
PyJWT==2.9.0
pylance==0.9.18
pymdown-extensions==10.11.2
pynvml==11.5.3
pyparsing==3.1.2
pypdf==5.1.0
PyPDF2==3.0.1
pypdfium2==4.30.0
PyPika==0.48.9
pyproject_hooks==1.1.0
pyright==1.1.378
pysbd==0.3.4
PySocks==1.7.1
PyStemmer==2.2.0.3
pytest==8.3.2
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.0.1
python-frontmatter==1.1.0
python-iso639==2024.4.27
python-json-logger==2.0.7
python-magic==0.4.27
python-multipart==0.0.9
python-oxmsg==0.0.1
pytorch_revgrad==0.2.0
pytrec-eval-terrier==0.5.6
pytube==15.0.0
pytubefix==8.1.1
pytz==2024.1
pyvis==0.3.2
PyYAML==6.0.1
pyzmq==26.1.1
qdrant-client==1.10.1
qwen-vl-utils==0.0.8
ranx==0.3.20
rapidfuzz==3.9.6
ratelimiter==1.2.0.post0
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
retry==0.9.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rouge==1.0.1
rpds-py==0.20.0
rsa==4.9
s3transfer==0.10.2
safetensors==0.4.4
schema==0.7.7
scikit-learn==1.5.1
scipy==1.14.1
seaborn==0.13.2
segtok==1.5.11
selenium==4.24.0
semver==3.0.2
Send2Trash==1.8.3
sentence-transformers==3.0.1
sentencepiece==0.2.0
sentry-sdk==2.16.0
seqeval==1.2.2
setfit==1.1.0
setproctitle==1.3.3
sgmllib3k==1.0.0
shapely==2.0.5
shellingham==1.5.4
six==1.16.0
smart-open==7.0.4
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.5
soxr==0.4.0
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spacytextblob==5.0.0
SQLAlchemy==2.0.31
sqlitedict==2.1.0
srsly==2.4.8
stack-data==0.6.3
starlette==0.37.2
streamlit==1.40.1
swarm @ git+ssh://git@github.com/openai/swarm.git@9db581cecaacea0d46a933d6453c312b034dbf47
sympy==1.13.1
syncer==2.0.3
ta==0.11.0
tabulate==0.9.0
tantivy==0.22.0
tblib==3.0.0
tenacity==8.5.0
terminado==0.18.1
textblob==0.18.0.post0
thinc==8.2.5
threadpoolctl==3.5.0
tiktoken==0.7.0
timm==1.0.9
tinycss2==1.3.0
tk==0.1.0
tokenizers==0.20.1
toml==0.10.2
tomli==2.1.0
tomli_w==1.1.0
torch==2.4.0
torchaudio==2.4.0
torchvision==0.19.0
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
transformer-smaller-training-vocab==0.4.0
transformers==4.46.3
trec-car-tools==2.6
trio==0.26.2
trio-websocket==0.11.1
triton==3.0.0
ttkthemes==3.2.2
typer==0.12.3
types-python-dateutil==2.9.0.20241003
types-requests==2.32.0.20240712
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
universal_pathlib==0.2.5
unlzw3==0.2.2
unstructured==0.15.9
unstructured-client==0.24.1
unstructured-inference==0.7.36
unstructured.pytesseract==0.3.13
uri-template==1.3.0
urllib3==2.2.2
uuid_utils==0.9.0
uv==0.5.2
uvicorn==0.30.5
uvloop==0.19.0
virtualenv==20.27.0
wandb==0.18.3
warc3-wet==0.2.5
warc3-wet-clueweb09==0.2.5
wasabi==1.1.3
watchdog==6.0.0
watchfiles==0.22.0
wcwidth==0.2.13
weasel==0.4.1
weave==0.51.14
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
widgetsnbextension==4.0.13
Wikipedia-API==0.7.1
wordcloud==1.9.4
wrapt==1.16.0
wsproto==1.2.0
xxhash==3.5.0
yarl==1.9.4
yfinance==0.2.46
zipp==3.19.2
zlib-state==0.1.9
